@model IEnumerable<Sistema_clinica.Models.Funcionario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<h2 class="text-center">Funcionários</h2>

@if (Session["nivel"].ToString() == "1")
{
    <a href="~/Funcionario/Cadastrar" class="btn btnFiltro">Cadastrar</a>
}

<div class="btn btnFiltro" onclick="exibirFiltro('filtroCliente')">Buscar</div>

<div id="filtroCliente" class="filtro_hide">
    @using (Html.BeginForm("FiltrarNome", "Funcionario"))
    {
        @Html.Editor("nome", new { htmlAttributes = new { placeholder = "Busca por nome" } })
        <input type="submit" value="Buscar" class="btn btn-default btn-busca" />
    }

    @using (Html.BeginForm("FiltrarCargo", "Funcionario"))
    {
        @Html.Editor("cargo", new { htmlAttributes = new { placeholder = "Busca por cargo" } })
        <input type="submit" value="Buscar" class="btn btn-default btn-busca" />
    }

    @using (Html.BeginForm("Index", "Funcionario"))
    {
        <input type="submit" value="Limpar filtros" class="btn btn-default" />
    }
    <br />
</div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @if (Session["nivel"].ToString() == "1")
            {
                @Html.DisplayNameFor(model => model.Cpf)
            }
            else
            {
                @Html.DisplayNameFor(model => model.Email)
            }
        </th>
        @if (Session["nivel"].ToString() == "1")
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @if (Session["nivel"].ToString() == "1")
                {
                    @Html.DisplayFor(modelItem => item.Cpf)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Email)
                }
            </td>
            @if (Session["nivel"].ToString() == "1")
            {
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.IdFuncionario })
                    <span>|</span>
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.IdFuncionario })
                    <span>|</span>
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.IdFuncionario })
                </td>
            }
        </tr>
    }
</table>

@section scripts{
    @Scripts.Render("~/bundles/filtros")
} 