@model Sistema_clinica.Models.Usuario

@{
    ViewBag.Title = "Login";
}

<div class="container-fluid telaLogin">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal text-center boxLogin">
            <h2 class="titulo-contato">Área restrita</h2>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Login)
                @Html.EditorFor(model => model.Login)
                <div class="col-10">
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Senha)
                @Html.PasswordFor(model => model.Senha)
                <div class="col-10">
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-default" />
            </div>
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")    
}