
@{
    ViewBag.Title = "TelaPrincipal";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<div class="text-center telaSistema">
    <h2 class="txtBemVindo boxMenu boxBemVindo">Bem-vindo(a), @Session["usuario"].ToString()</h2>

    <div class="row">

        <div class="col-sm-6 col-md-4">
            @Html.ActionLink("Sessões Realizadas", "Realizados", "Agenda", null, new { @class = "text-center btn btnMenuCliente" })
        </div>

        <div class="col-sm-6 col-md-4">
            @Html.ActionLink("Sessões Disponíveis", "Index", "Sessao", null, new { @class = "text-center btn btnMenuCliente" })
        </div>

        <div class="col-sm-6 col-md-4">
            @Html.ActionLink("Agendar", "AgendarCliente", "Agenda", null, new { @class = "text-center btn btnMenuCliente" })
        </div>

        <div class="col-sm-6 col-md-4">
            @Html.ActionLink("Ver agendamentos", "AgendasCliente", "Agenda", null, new { @class = "text-center btn btnMenuCliente" })
        </div>

        <div class="col-sm-6 col-md-4">
            @Html.ActionLink("Consultar Procedimentos", "Index", "Procedimento", null, new { @class = "text-center btn btnMenuCliente" })
        </div>

        <div class="col-sm-6 col-md-4">
            @Html.ActionLink("Consultar Avaliações", "Index", "Avaliacao", new { id = int.Parse(Session["id"].ToString()) }, new { @class = "text-center btn btnMenuCliente" })
        </div>

    </div>

</div>