
@{
    ViewBag.Title = "TelaPrincipal";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<h1>Tela Inicial do cliente, em reformulação!</h1>
<div class="text-center telaSistema">
    <h2 class="txtBemVindo boxMenu boxBemVindo">Bem-vindo(a), @Session["usuario"].ToString()</h2>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Clientes</h3>
                @Html.ActionLink("Meus Dados", "Detalhes", "Cliente", new { id = int.Parse(Session["id"].ToString()) }, new { @class = "btn btnMenu" })
                @Html.ActionLink("Alterar Senha", "AlterarSenha", "Home", null, new { @class = "btn btnMenu" })
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Procedimentos</h3>
                @Html.ActionLink("Consultar", "Index", "Procedimento", null, new { @class = "btn btnMenu" })
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Avaliação</h3>
                @Html.ActionLink("Cadastrar", "Cadastrar", "Avaliacao", null, new { @class = "btn btnMenu" })
                @Html.ActionLink("Consultar", "Index", "Avaliacao", null, new { @class = "btn btnMenu" })
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Sessões</h3>
                @Html.ActionLink("Cadastrar", "Cadastrar", "Sessao", null, new { @class = "btn btnMenu" })
                @Html.ActionLink("Consultar", "Index", "Sessao", null, new { @class = "btn btnMenu" })
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="boxMenu text-center">
                <h3>Agenda</h3>
                @Html.ActionLink("Consultar", "Index", "Agenda", null, new { @class = "btn btnMenu" })
                @Html.ActionLink("Relatório", "Relatorio", "Agenda", null, new { @class = "btn btnMenu" })
            </div>
        </div>

    </div>

</div>